<a href="https://colab.research.google.com/github/sujansivaji/DataDriven_DengAI/blob/main/DengAI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! git clone https://github.com/sujansivaji/DataDriven_DengAI.git

Cloning into 'DataDriven_DengAI'...
remote: Enumerating objects: 24, done.
remote: Counting objects: 100% (24/24), done.
remote: Compressing objects: 100% (21/21), done.
remote: Total 24 (delta 6), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (24/24), done.

In [ ]:
import pandas as  pd
import numpy as np

In [ ]:
#Readdataset:
train = pd.read_csv("/content/DataDriven_DengAI/Dataset/dengue_features_train.csv")

In [ ]:
train.tail(10)

     city  year  ...  station_min_temp_c station_precip_mm
1446   iq  2010  ...                22.5              51.1
1447   iq  2010  ...                21.4              35.4
1448   iq  2010  ...                21.4               8.1
1449   iq  2010  ...                21.2              32.0
1450   iq  2010  ...                20.0               2.5
1451   iq  2010  ...                22.4              27.0
1452   iq  2010  ...                21.7              36.6
1453   iq  2010  ...                19.2               7.4
1454   iq  2010  ...                21.0              16.0
1455   iq  2010  ...                22.2              20.4

[10 rows x 24 columns]

In [ ]:
len(train)

1456

In [ ]:
labels_train = pd.read_csv("/content/DataDriven_DengAI/Dataset/dengue_labels_train.csv")

In [ ]:
#Merging target variable from lables_train into train dataset:
train['Total_cases'] = labels_train['total_cases']

In [ ]:
train.sort_values(by='week_start_date')

     city  year  weekofyear  ... station_min_temp_c  station_precip_mm  Total_cases
0      sj  1990          18  ...               20.0               16.0            4
1      sj  1990          19  ...               22.2                8.6            5
2      sj  1990          20  ...               22.8               41.4            4
3      sj  1990          21  ...               23.3                4.0            3
4      sj  1990          22  ...               23.9                5.8            6
...   ...   ...         ...  ...                ...                ...          ...
1451   iq  2010          21  ...               22.4               27.0            5
1452   iq  2010          22  ...               21.7               36.6            8
1453   iq  2010          23  ...               19.2                7.4            1
1454   iq  2010          24  ...               21.0               16.0            1
1455   iq  2010          25  ...               22.2               20.4            4

[1456 rows x 25 columns]

The dataset is sorted by default suitable for analysis.

In [ ]:
##Columns in dataset:
for i,j in enumerate(train.columns):
  print(i,":",j)

0 : city
1 : year
2 : weekofyear
3 : week_start_date
4 : ndvi_ne
5 : ndvi_nw
6 : ndvi_se
7 : ndvi_sw
8 : precipitation_amt_mm
9 : reanalysis_air_temp_k
10 : reanalysis_avg_temp_k
11 : reanalysis_dew_point_temp_k
12 : reanalysis_max_air_temp_k
13 : reanalysis_min_air_temp_k
14 : reanalysis_precip_amt_kg_per_m2
15 : reanalysis_relative_humidity_percent
16 : reanalysis_sat_precip_amt_mm
17 : reanalysis_specific_humidity_g_per_kg
18 : reanalysis_tdtr_k
19 : station_avg_temp_c
20 : station_diur_temp_rng_c
21 : station_max_temp_c
22 : station_min_temp_c
23 : station_precip_mm
24 : Total_cases

In [ ]:
train.dtypes

city                                      object
year                                       int64
weekofyear                                 int64
week_start_date                           object
ndvi_ne                                  float64
ndvi_nw                                  float64
ndvi_se                                  float64
ndvi_sw                                  float64
precipitation_amt_mm                     float64
reanalysis_air_temp_k                    float64
reanalysis_avg_temp_k                    float64
reanalysis_dew_point_temp_k              float64
reanalysis_max_air_temp_k                float64
reanalysis_min_air_temp_k                float64
reanalysis_precip_amt_kg_per_m2          float64
reanalysis_relative_humidity_percent     float64
reanalysis_sat_precip_amt_mm             float64
reanalysis_specific_humidity_g_per_kg    float64
reanalysis_tdtr_k                        float64
station_avg_temp_c                       float64
station_diur_temp_rng_c                  float64
station_max_temp_c                       float64
station_min_temp_c                       float64
station_precip_mm                        float64
Total_cases                                int64
dtype: object

## EDA:

In [ ]:
train.city.value_counts()

sj    936
iq    520
Name: city, dtype: int64

In [ ]:
submission = pd.read_csv("/content/DataDriven_DengAI/Dataset/submission_format.csv") 
test = pd.read_csv("/content/dengue_features_test.csv")

In [ ]:
test

    city  year  ...  station_min_temp_c station_precip_mm
0     sj  2008  ...                21.7              75.2
1     sj  2008  ...                22.2              34.3
2     sj  2008  ...                22.8               3.0
3     sj  2008  ...                24.4               0.3
4     sj  2008  ...                23.3              84.1
..   ...   ...  ...                 ...               ...
411   iq  2013  ...                21.8              33.0
412   iq  2013  ...                21.4              68.0
413   iq  2013  ...                21.6              93.2
414   iq  2013  ...                21.8              34.1
415   iq  2013  ...                22.0              14.9

[416 rows x 24 columns]

In [ ]:
test.city.value_counts()

sj    260
iq    156
Name: city, dtype: int64

##  Train and Test set: city feature distribution
On the checking the value counts both train and test set contains sj and iq city for prediction.Also lets check the submission file to include the columns.

In [ ]:
submission.head(3)

  city  year  weekofyear  total_cases
0   sj  2008          18            0
1   sj  2008          19            0
2   sj  2008          20            0

In [ ]:
print("Numer of columns in Trainset:",len(train.columns))

Numer of columns in Trainset: 25

In [ ]:
train.columns

Index(['city', 'year', 'weekofyear', 'week_start_date', 'ndvi_ne', 'ndvi_nw',
       'ndvi_se', 'ndvi_sw', 'precipitation_amt_mm', 'reanalysis_air_temp_k',
       'reanalysis_avg_temp_k', 'reanalysis_dew_point_temp_k',
       'reanalysis_max_air_temp_k', 'reanalysis_min_air_temp_k',
       'reanalysis_precip_amt_kg_per_m2',
       'reanalysis_relative_humidity_percent', 'reanalysis_sat_precip_amt_mm',
       'reanalysis_specific_humidity_g_per_kg', 'reanalysis_tdtr_k',
       'station_avg_temp_c', 'station_diur_temp_rng_c', 'station_max_temp_c',
       'station_min_temp_c', 'station_precip_mm', 'Total_cases'],
      dtype='object')

In [ ]:
index_train = train[['city','year','weekofyear']]

In [ ]:
train.fillna(value=0,inplace=True)

## Understanding the dataset with baseline :
Lets fit RandomForest regressor and check the feature importance to get a better idea on features.

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

In [ ]:
clf = RandomForestRegressor()

In [ ]:
train.drop(columns=['city','year','weekofyear'],inplace=True)
X = train.drop(columns=['week_start_date','Total_cases'])
Y= train['Total_cases']

In [ ]:
Xtrain,Xtest,Ytrain,Ytest = train_test_split(X,Y,test_size=0.25)

In [ ]:
clf.fit(Xtrain,Ytrain)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [ ]:
prediction = clf.predict(Xtest)
len(prediction)

364

In [ ]:
print("Error rate: ",mean_absolute_error(Ytest,prediction))

Error rate:  18.65945447409733

In [ ]:
#Understanding the feature importance:
clf.feature_importances_

array([0.017775  , 0.02003583, 0.20033387, 0.1114782 , 0.02243519,
       0.04011606, 0.04760668, 0.04387528, 0.02105046, 0.11557172,
       0.03586511, 0.03014446, 0.02355044, 0.0412861 , 0.04807962,
       0.06909715, 0.02275435, 0.02099648, 0.0321425 , 0.0358055 ])

## Feature Importance:

In [ ]:
for i,j in zip(Xtrain.columns,clf.feature_importances_):
  print(i,":",j*100)

ndvi_ne : 1.7775000597906572
ndvi_nw : 2.0035833667670735
ndvi_se : 20.033387265275504
ndvi_sw : 11.147820368045014
precipitation_amt_mm : 2.2435190108165664
reanalysis_air_temp_k : 4.011605721024666
reanalysis_avg_temp_k : 4.760668037994315
reanalysis_dew_point_temp_k : 4.387528133325507
reanalysis_max_air_temp_k : 2.105045676537391
reanalysis_min_air_temp_k : 11.55717150800425
reanalysis_precip_amt_kg_per_m2 : 3.586510685946082
reanalysis_relative_humidity_percent : 3.014445939622309
reanalysis_sat_precip_amt_mm : 2.355043530049511
reanalysis_specific_humidity_g_per_kg : 4.12861004797666
reanalysis_tdtr_k : 4.807961626008742
station_avg_temp_c : 6.909715462402184
station_diur_temp_rng_c : 2.2754353551679225
station_max_temp_c : 2.0996478246491366
station_min_temp_c : 3.2142500047693674
station_precip_mm : 3.5805503758271477

In [ ]:
test.isna().sum()
test.fillna(value=0,inplace=True)

In [ ]:
test_index = [['city','year','week_of_year']]
test.drop(columns=['city','year','weekofyear','week_start_date'],inplace=True)

In [ ]:
test_predict = clf.predict(test)

In [ ]:
submission_sujan = pd.DataFrame()
submission_sujan['city'] = test['city']
submission_sujan['year'] = test['year']
submission_sujan['weekofyear'] = test['weekofyear']
submission_sujan['total_cases'] = test_predict

In [ ]:
submission_sujan.to_csv("sujan_submission.csv")

In [ ]:
submission_sujan.drop(submission_sujan.index,inplace=True)

In [ ]:
submission_sujan.drop(columns=['city','year','weekofyear'],inplace=True)

In [ ]:
submission_sujan

     total_cases
0          11.32
1          17.60
2          16.11
3          23.53
4          32.78
..           ...
411         8.46
412         2.73
413         1.17
414         5.10
415         3.10

[416 rows x 1 columns]